<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Sephora" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fixed-header sidebar-visible menu-pin">
  	<div class="content">
      <%= yield :content %>
    </div>
    <%= yield :javascript_includes %>
  </body>
</html>
